<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="package" href="package.json">
    <title>Currency Converter</title>
</head>

<body>
    <div class="container">

        <div class="card card-custom bg-light mb-3 mt-5 no-border" style="max-width: 30rem;">
            <div class="card-header text-white headerr">CURRENCY CONVERTER</div>
            <div class="card-body bbl">
                <form onsubmit="return false">
                    <div class="form-group">
                        <input type="number" id="fromCurrencyValue" aria-describedby="amount" placeholder="Enter Amount to Convert"
                            onchange="convert()">
                    </div>
                    <div class="form-group form-inline">
                        <select  name="fromCurrency" id="fromCurrency">

                        </select>
                        </div>
                    <div class="form-group form-inline">
                        <!-- <span class="fa fa-exchange change-icon"></span> -->
                        <select  name="toCurrency" id="toCurrency" >

                        </select>
                    </div>
                    <div class="card-body text-right ">
                <input type="button" value="convert currency" onclick="convert();" width="100px" />
                       
            </div>
                    <!-- <button type="button" class="btn btn-primary btn-md btn-block" onclick="convert()">CONVERT</button> -->
                </form>
            </div>
              <div class="card-body text-right bg-blue">
               
                       <h1 id="viewValue" class="text-center text-white"></h1>
            </div>
        </div>
        
    </div>


    <p id="header-text"></p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/idb.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>